.Item {
  background-color: #ffffff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  border: 1px solid white;
  border-radius: 2px;

}

.Item:hover{
  background-color: #fdfa56;
  border: 2px solid;
  border-color: orange;
}

.Item-p {
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-size: 20px;
}

.Item-p:hover{
  cursor: pointer;
  text-decoration: none;
}

.Item-p--complete {
  text-decoration: line-through;
  text-decoration-color: rgb(0, 0, 0);
}

.Icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  font-size: xx-large;
}

.Icon-check {
  position: absolute;
  left: 12px;
  color: #000000;
}

.Icon-check--active {
  color: #07ff13;
}

.Icon-delete {
  position: absolute;
  top: 10px;
  right: 0;
}


.Icon-delete:hover {
   transform: rotate(15deg);
}

.imagen{
  width: 35px;
  height: 35px;
}

.imagen:hover{
  width: 37px;
  height: 37px;
}