body {
  font-family: "Arial";
  margin: 0;
  padding: 0;
background-image: url(https://w0.peakpx.com/wallpaper/1007/497/HD-wallpaper-abstract-shapes-minimalist.jpg);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
